.ben {
    display: flex;
}

.ben > div {
    padding: 15px;
}

.ben img {
    max-width: 70px;
}

.ben h3 {
    font-size: 24px;
}

.ben p {
    opacity: 0.7;
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
    .ben {
        padding: 5px;
    }
    .ben h3 {
        font-size: 20px;
    }
}