.ben {
    display: flex;
    align-items: flex-start;
}

.goal {
    padding: 15px;
    flex: 6;
}

.goal h3 {
    font-size: 24px;
    margin-top: 20px;
}

.goal a, .goal a:visited {
    color: white;
}

.ben p {
    opacity: 0.7;
}

.milestone {
    padding: 30px;
    flex: 1;
}

.milestone h3 {
    font-size: 48px;
    background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
    .ben {
        padding: 5px;
    }

    .goal {
        flex: 4;
    }

    .goal h3 {
        font-size: 20px;
    }

    .milestone {
        padding: 10px;
    }

    .milestone h3 {
        font-size: 25px;
        margin-top: 25px;
    }
}