.footer {
    padding: 25px;
}

.footer p {
    text-align: center;
}

.footer p > a, .footer p > a:visited {
    text-decoration: none;
    background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer .disruptX {
    filter: invert(100%);
    width: 40px;
}

.footer-social-media-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-media-links > div {
    margin: 5px 10px;
}