.resources {
    background-color: #1d1d1d;
}

.res-container {
    max-width: 1024px;
    margin: 0px auto;
    padding: 10px;
    padding-bottom: 80px;
    padding-top: 10px;
}

.res-container h2 {
    font-size: 48px;
    margin-left: 10px;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(-70deg, #E9AF68 0%, #F0E398 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.res-container > p {
    padding: 20px;
    margin-left: 10px;
    padding-top: 0px;
}

.res-items {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
    .res-container {
        text-align: center;
    }
    .res-items {
        display: block;
    }

    .res-container h2 {
        text-align: center;
        font-size: 28px;
    }

    .res-container > p {
        padding: 20px;
        margin-left: 0px;
        text-align: center;
        font-size: 16px;
    }
}