.card-link {
    text-decoration: none;
}

.resource {
    background-color: #222;
    width: 300px;
    margin-left: 25px;
    margin-right: 15px;
    color: white;
    border-radius: 15px;
}

.resource img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.resource p {
    font-size: 14px;
    opacity: 0.7;
}

.res-content {
    padding: 15px;
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
    .resource {
        margin: 15px auto;
        width: 280px
    }
}