.team-member {
    width: 200px;
    text-align: center;
    margin: 15px;
}

.team-member img {
    width: 100%;
}

.team-member a {
    text-decoration: none;
    color: black;
}

.team-member h3 {
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}