.temp {
  border: 1px solid white;
}

p {
  font-size: 18px;
  line-height: 27px;
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
}